{% extends 'base.html.twig' %}

{% block title %}Détail figure
{% endblock %}

{% block body %}

    <section class="container border border-secondary col col-lg-8 p-0" style="box-shadow: 0px 2px 5px 0px #000;">
        {# image de la figure page détail #}
        <div class="container p-0 position-relative">
        {# {{ trick.Medias.photo_une }} #}
            {% for media in trick.mainMedia %}
                {% if media.type == "picture" %}
                    <img class="card-img" src="/assets/uploads/{{ media.media }}" alt="img_trick">
                {%  else %}
                    <video controls autoplay="none" loop muted preload="none">
                        <div class="ratio ratio-4x3 muted=none">
                            <iframe class="embed-responsive-item muted" src="/assets/uploads/{{ media.media }}" allowullscreen autoplay="false" autostart="0"></iframe>
                        </div>
                    </video>
                {%  endif %}
            {%  endfor %}
            {# Les 2 icônes modifier/supprimer la figure #}
            {% if app.user and app.user.id == trick.getUsers().getId( )%}
                <p class="icon-btn border border-light position-absolute">
                    <a href="/tricks/{{ trick.slug }}{# /medias/{{ media.id }} #}/edit">
                        <i class="text-light px-2 fas fa-pen"></i>
                    </a>
                    <a data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" href="/tricks/{{ trick.id }}{# /medias/{{ media.id }} #}/delete">
                        <i class="text-light fas fa-trash"></i> 
                    </a>
                    {% include "modals/delete-trick.html.twig" %}
                </p>
                {% else %}
            {% endif %}
        </div>
        {# Titre/Nom de la figure #}
        <div class="row my-5">
            <div class="col">
                <h1 class="text-center">{{ trick.name}}</h1>
            </div>
        </div>
        {# description de la figure #}
        <div class="container col-lg-12 my-5">
            {{ trick.description }}
        </div>

        {# liste des images et videos #}
        <section class="container">
            <article class="row d-lg-flex justify-content-center">
                {% for media in trick.medias %}
                    <div class="card m-2 col-lg-4 col-md-6 col-sm-6">
                        {% if media.type == "picture" %}
                            <img class="card-img my-3" src="/assets/uploads/{{ media.media }}" class="card-img-top" alt="img_trick">
                        {%  elseif media.type == "video" %}
                            <div class="ratio ratio-4x3 my-3">
                                <video width="100%" height="auto" controls preload="none">
                                    <source src="/assets/uploads/{{ media.media }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        {%  endif %}
                        {# 2 icônes modifier/supprimer #}
                        {% if app.user and app.user.id == trick.getUsers().getId( )%}
                            <div class="card-body">
                                <a href="/tricks/{{ trick.slug }}/edit">
                                    <i class="text-black px-2 fas fa-pen"></i>
                                </a>
                                <a data-bs-toggle="modal" data-bs-target="#deleteMediaConfirmationModal" href="/tricks/{{ trick.id }}/medias/{{ media.id }}/delete">
                                    <i class="text-black px-2 fas fa-trash-alt"></i>
                                </a>
                                {% include "modals/delete-trick-media.html.twig" %}
                            </div>
                            {% else %}
                        {% endif %}
                    </div>
                {%  endfor %}
            </article>
        </section>

        {# informations sur la figure #}
        <div class="container container-fluid col-lg-12 my-5 text-center">
            <button class="btn btn-primary disabled my-2">Créé le :
                {{ trick.createdAt | date('d/m/y') }}
            </button>
            {%  if (trick.updatedAt) %}
                <button class="btn btn-primary disabled my-2">Modifié le :
                    {{ trick.updatedAt | date('d/m/y') }}
                </button>
            {%  endif %}

            <button class="btn btn-primary disabled my-2">Groupe :
                {{trick.category.name}}
            </button>

            <button class="btn btn-primary disabled my-2">Auteur :
                {{trick.users.username|default('')}}
            </button>
        </div>

        {# Commentaires #}
        <h5 class="ms-5 mb-5">Commentaires :
            {{ trick.comments|length }}</h5>
        {% for comment in trick.comments(currentPage, commentPerPage) | reverse %}
            <div class="comment">
                <div class="row">
                    <div class="col">
                        <img class="mb-4 mx-5" src="https://ui-avatars.com/api/?rounded=true&background=random&name={{ comment.user.username|default('undefined') }}" width="40px">
                        <strong>{{ comment.user.username|default('') }}</strong>
                        <span class="ps-2">Le
                            {{comment.createdAt | date('d/m/y à H:i')}}</span>
                    </div>
                </div>
                <div class="col mb-4 ms-5">
                    {{ comment.content | raw }}
                </div>
            </div>
        {% endfor %}

        {# Pagination des commentaires #}
        {% if (trick.comments|length > 0) %}
            <nav aria-label="Page navigation example w-100">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        {% if (currentPage > 1) %}
                            <a class="page-link" href="{{ path ('app_show', {slug: trick.slug, page: currentPage - 1}) }}">Précédent</a>
                        {% else %}
                            <span class="page-link disabled">Précédent</span>
                        {% endif %}
                    </li>
                    {% for page in range(currentPage - 5, currentPage + 5) %}
                        {% if (page > 0 and page < commentPageCount) %}
                            <li class="page-item {{ (page == currentPage) ? 'active' : '' }}">
                                <a href="{{ path('app_show', {slug: trick.slug, page: page}) }}" class="page-link">{{ page }}</a>
                            </li>
                        {%  endif %}
                    {% endfor %}
                    <li>
                        {% if (currentPage < commentPageCount) %}
                            <a class="page-link" href="{{ path ('app_show', {slug: trick.slug, page: currentPage + 1}) }}">Suivant</a>
                        {% else %}
                            <span class="page-link disabled">Suivant</span>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        {%  endif %}

        {# Formulaire du commentaire #}
        <div class="container mx-auto">
            {% if app.user %}
                {{ form_start(commentForm) }}
                <div class="row justify-content-center align-items-center mt-4">
                    <div class="col-xl-4">
                        {{ form_row(commentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}
                    </div>
                    <div class="col-xl-4">
                        <button type="submit" class="btn btn-primary mb-3 p-3 w-100">Laissez un commentaire</button>
                    </div>
                </div>
                {{ form_end(commentForm) }}
            {% else %}
                <p class="text-center fw-bolder fs-4">Vous ne pouvez-pas commenter si vous n'êtes pas connecté !</p>
            {% endif %}
        </div>
    {% endblock %}
