{% extends 'base.html.twig' %}

{% block title %}
    {% if editMode %}
        Modification de la figure
    {% else %}
        Création d'une figure
    {% endif %}
{% endblock %}

{% block body %}

    <div class="container col-6">
        {% if editMode %}
            <h1 class="text-center">Modification de la figure</h1>
        {% else %}
            <h1 class="text-center">Création d'une figure</h1>
        {% endif %}
    </div>
    {# Formulaire pour créer/modifier une figure #}
    {# {% if app.user %} #}
        <div class="container my-5">
            <div class="container col-lg-6 col-md-8 border border-secondary {# modife #} {# rounded-1 #} p-3">
                {{ form_start(formTrick) }}
                {{ form_errors(formTrick) }}

                {{ form_row(formTrick.name) }}
                {{ form_row(formTrick.description) }}
                {{ form_row(formTrick.category) }}
                {{ form_row(formTrick.coverPhoto) }}
                {{ form_row(formTrick.pictures) }}
                {{ form_row(formTrick.videos) }}

                {# Modification/suppression de l'image ou la vidéo téléchargée du formulaire #}
                {% if editMode %}
                    <div class=" d-flex gap-3 w-100">
                        {% for media in trick.medias %}
                            <div class="edit-media">
                                {% if media.type == "picture" %}
                                    <img src="/assets/uploads/{{ media.media }}">
                                {% else %}
                                    <img src="/assets/videoicon.png">
                                {% endif %}
                                {% include "modals/delete-trick-media.html.twig" %}
                                <div class="delete-overlay">
                                    <a data-bs-toggle="modal" data-bs-target="#deleteMediaConfirmationModal" href="/tricks/{{ trick.id }}/medias/{{ media.id }}/delete">
                                        <span class="text-white">X</span>
                                    </a>
                                </div>
                            </div>
                        {%  endfor %}
                    </div>
                {% endif %}

                {# Boutons modifier/ajouter/supprimer une figure du formulaire #}
                <div class="container mt-3 text-center">
                    <button type="submit" class="bg-primary mt-2 rounded">
                        {% if editMode %}
                            Modifiez
                        {% else %}
                            Ajoutez
                        {% endif %}
                    </button>
                    {% if editMode %}
                        <a class="delete-btn m-3 rounded" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" href="/tricks/{{ trick.id }}/delete">
                            Supprimer
                        </a>
                        {% include "modals/delete-trick.html.twig" %}
                    {% endif %}
                </div>

                {{ form_end(formTrick) }}
            </div>
        </div>
    {# {% endif %} #}
{% endblock %}
