{% block title %}{% endblock %}

{% for trick in tricks %}
    <article class="col-lg-4 col-md-6 col-sm-6">
        <div class="card my-2">
            {# Affiche les cartes photos et vidéos page accueil #}
            <div class="card-body">
                    <img class="card-img" src="/assets/uploads/{{ trick.coverPhoto }}" alt="{{ trick.slug }} cover photo">
            </div>
            <div class="row">
                <div class="col-6">
                    <a href="/tricks/{{ trick.slug }}">
                        <p class="w-100 mx-4">{{ trick.name}}</p>
                    </a>
                </div>
                {# Icônes modification/suppression si l'utilisateur est connecté #}
                {% if app.user %}
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <a href="/tricks/{{ trick.slug }}/edit">
                                    <i class="fas fa-pen"></i>
                                </a>
                            </div>
                            <div class="col-6">
                                {# <a data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" href="/tricks/{{ trick.id }}/delete">
                                    <i class="fas fa-trash"></i> 
                                </a> #}
                                <a data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal{{ trick.id }}" href="#">
                                    <i class="fas fa-trash"></i>
                                </a>
                                {% include "modals/delete-trick.html.twig" %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </article>
{% endfor %}