{% block title %}{% endblock %}
{% for trick in tricks %}
    <article class="col-lg-4 col-md-6 col-sm-6">
        <div class="card my-2">
            {# Affiche les cartes photos et vidéos page accueil #}
            <div class="card-body">
                {% for media in trick.mainMedia() %}
                    {% if media.type == "picture" %}
                        <img class="card-img" src="/assets/uploads/{{ media.media }}" alt="img_trick">
                        {%  else  %}
                        {# <video controls autoplay="none" muted preload="none"> #}
                        <div class="ratio ratio-16x9 controls muted autoplay="none"">
                            <iframe class="embed-responsive-item muted" src="/assets/uploads/{{ media.media }}" allowullscreen  autoplay="false" autostart="0"></iframe>
                        </div>
                        {# </video> #}
                    {%  endif %}
                {%  endfor %}
            </div>
            <div class="row">
                <div class="col-6">
                    <a href="/tricks/{{ trick.slug }}">
                        <p class="w-100 mx-4">{{ trick.name}}</p>
                    </a>
                </div>
                {# Icônes modification/suppression si l'utilisateur est connecté #}
                {% if app.user %}
                    <div class="col-6 ">
                        <div class="row">
                            <div class="col-6">
                                <a href="/tricks/{{ trick.slug }}/edit">
                                    <i class="fas fa-pen"></i>
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="/tricks/{{ trick.id }}/delete">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </article>
{% endfor %}
